/.bobby
/.cache
/.fabric
/coremods
/crash-reports
/data
/logs
/mods/*.jar
/resourcepacks
/saves
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks
/icon.png
/usercache.json
/usernamecache.json

*.disabled

config/indium-renderer.properties
config/fabric/indigo-renderer.properties
config/enhanced_bes.properties
config/voicechat/username-cache.json
config/voicechat/voicechat-volumes.properties

.bobby
emi.json
