/.bobby
/.cache
/.fabric
/.spyglass_astronomy
/coremods
/crash-reports
/data
/logs
/mods/*.jar
/ModTranslations
/resourcepacks
/saves
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks
/icon.png
/usercache.json
/usernamecache.json

*.disabled
*.log
*.bak
*.zip

config/indium-renderer.properties
config/fabric/indigo-renderer.properties
config/enhanced_bes.properties
config/voicechat/username-cache.json
config/voicechat/voicechat-volumes.properties
config/roughlyenoughitems/*
!config/roughlyenoughitems/config.json5
config/spark/tmp

.bobby
emi.json
config/waila/waila_plugins.json5
